<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style media="screen">
      .logo {
        width: 150px;
      }
    </style>
    <title>Cooks Club</title>
  </head>
  <body>
    <header>
          <img class="logo" src="https://seeklogo.com/images/R/restaurant-logo-7B8FF68CBF-seeklogo.com.png">
    </header>



  </body>
</html>
